alabaster==0.7.12
anyio==3.6.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
attrs==21.4.0
Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.11.1
black==22.1.0
bleach==5.0.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
cycler==0.11.0
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
docopt==0.6.2
docutils==0.17.1
entrypoints==0.3
executing==0.8.2
fastjsonschema==2.15.3
fonttools==4.28.5
Foundations==2.0.7
idna==3.3
imagesize==1.3.0
intersect==1.2
ipykernel==6.7.0
ipython==8.0.1
ipython-genutils==0.2.0
ipywidgets==7.7.0
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
json5==0.9.10
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==7.1.2
jupyter-console==6.4.3
jupyter-core==4.9.1
jupyter-server==1.18.1
jupyterlab==3.4.7
jupyterlab-link-share==0.2.4
jupyterlab-pygments==0.2.0
jupyterlab-widgets==1.1.0
jupyterlab_server==2.15.1
kiwisolver==1.3.2
lab==7.1
linecache2==1.0.0
Manager==2.0.3
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mistune==0.8.4
mpmath==1.2.1
mypy-extensions==0.4.3
nbclassic==0.4.3
nbclient==0.5.13
nbconvert==6.4.5
nbformat==5.3.0
nest-asyncio==1.5.4
notebook==6.4.10
notebook-shim==0.1.0
numpy==1.22.1
opencv-python==4.5.5.64
ordereddict==1.1
packaging==21.3
pandas==1.3.5
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.9.0
pickle-mixin==1.0.2
pickleshare==0.7.5
Pillow==9.0.0
pipreqs==0.4.11
platformdirs==2.4.1
prometheus-client==0.14.1
prompt-toolkit==3.0.26
pure-eval==0.2.2
pycparser==2.21
pygame==2.1.2
Pygments==2.11.2
pyparsing==3.0.7
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2021.3
pywin32==303
pywinpty==2.0.5
PyYAML==6.0
pyzmq==22.3.0
qtconsole==5.3.0
QtPy==2.0.1
requests==2.27.1
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.12.0
Send2Trash==1.8.0
simplejson==3.17.6
six==1.16.0
sketchpy==0.0.14
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.3.2
Sphinx==4.4.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
stack-data==0.1.4
svg.path==4.1
svgpathtools==1.4.4
svgwrite==1.4.1
sym==0.3.5
sympy==1.11
terminado==0.13.3
testpath==0.6.0
threadpoolctl==3.0.0
tomli==2.0.0
tornado==6.1
tqdm==4.63.0
traceback2==1.4.0
traitlets==5.1.1
turtle==0.0.1
txt2tags==3.7
unittest2==1.1.0
urllib3==1.26.8
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.1
widgetsnbextension==3.6.0
yarg==0.1.9
